### Section A

In [1]:
import os
import geopandas as gpd
import numpy as np
import pandas as pd
from shapely.geometry import LineString, Point, Polygon
from geopandas.tools import reverse_geocode
import geopandas as gpd
from geopandas.tools.geocoding import geocode

Task 1- reading data from csv file

In [2]:
file_path = r'C:\Users\Dell\OneDrive - Technion\טכניון\סמסטר ז\סדנא בפיתוח ממג\code\data\travelTimes_2015_Helsinki.csv'
col_list = ["from_x", "from_y", "to_x", "to_y"]
data = pd.read_csv(file_path, usecols=col_list)
data.head()

      from_x     from_y       to_x       to_y
0  24.970438  60.311917  24.856034  60.399941
1  24.970438  60.311917  24.860568  60.400014
2  24.970438  60.311917  24.865102  60.400086
3  24.970438  60.311917  24.869636  60.400159
4  24.970438  60.311917  24.842582  60.397478

Task 2- create lists

In [3]:
orig_points = []
dest_points = []

Task 3- populate lists with Shapely Points

In [4]:
for index, row in data.iterrows() :
    orig_points.append(Point(row['from_x'], row['from_y']))
    dest_points.append(Point(row['to_x'], row['to_y']))
print(orig_points[1].x)
print(orig_points[1].y)

24.9704379
60.3119173

Task 4- create Shapely line objects and printing average length

In [5]:
lines = []

for i in range(len(orig_points)) :
    lines.append(LineString([orig_points[i], dest_points[i]]))

avg_line = sum([line.length for line in lines]) / len(lines)
print('average length is: ',avg_line)

average length is:  0.21502224823227184

### Section B
#### part 1:

reading data from csv file

In [7]:
file_path = r'C:\Users\Dell\OneDrive - Technion\טכניון\סמסטר ז\סדנא בפיתוח ממג\code\data\some_posts.csv'
data = pd.read_csv(file_path)
data.head()

# data['geometry'] = data.index

# for index, row in data.iterrows() :
#     row['geometry'] = Point(row['lat'], row['lon'])

print(data.shape)
pd.set_option('display.max_columns',4)
data

(81379, 4)

             lat        lon         timestamp    userid
0     -24.980792  31.484633  2015-07-07 03:02  66487960
1     -25.499225  31.508906  2015-07-07 03:18  65281761
2     -24.342578  30.930866  2015-03-07 03:38  90916112
3     -24.854614  31.519718  2015-10-07 05:04  37959089
4     -24.921069  31.520836  2015-10-07 05:19  27793716
...          ...        ...               ...       ...
81374 -24.799541  31.354469  2015-09-05 02:23  90744213
81375 -25.467992  30.956033  2015-02-05 02:40  71109799
81376 -25.332223  30.997409  2015-08-05 02:40  54796261
81377 -25.508851  31.005536  2015-08-05 02:43  78762204
81378 -25.498840  31.007430  2015-04-05 02:44  32190273

[81379 rows x 4 columns]